<html>
	<head th:replace="~{base :: head}">
	<body>
		<div th:replace="~{base :: logo}"/>
		<div class="container">
			<div th:replace="~{base :: titulo('Novo Usuário')}"/>
			<div class="card mt-3">
				<form th:object="${usuarioDTO}" class="card-body" th:action="@{/usuario/cadastro}" method="POST">
					<div class="form-group">
						<label for="nome">Usuario</label>
						<input th:field="*{username}" class="form-control" th:errorclass="is-invalid" placeholder="Usuário"/>
						<div th:errors="*{username}" class="invalid-feedback"/>
					</div>
					<div class="form-group">
						<label for="urlProduto">Senha</label>
						<input type="password" th:field="*{password}" class="form-control" th:errorclass="is-invalid" placeholder="Senha">
						<div th:errors="*{password}" class="invalid-feedback"/>
					</div>
					<button class="btn btn-primary" type="submit">Cadastrar</button>
				</form>
			</div>
		</div>
	</body>
</html>